# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build_docker:
    runs-on: ubuntu-latest
    name: Build trweb image 

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Echo variable
        run: echo '${{github.ref}} -  ${{github.repository}}'
      
      - name: Build the trweb docker image
        working-directory: ./apps/trweb
        run: docker build . --file Dockerfile --tag '${{github.repository}}:${{github.sha}}' --tag '${{github.repository}}:latest'
